/* general styling */
:root {
  --smaller: .1;
}


.countdown-container {
  color: #fff;
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 45px 0;
  z-index: 98;
}

.countdown {
  display: flex;
  flex-direction: column;
  place-content: center;

}

.countdown-label {
  width: 100%;
  padding: 0;
  color: #fff;
}

li {
  display: inline-grid;
  font-size: 1.5em;
  list-style-type: none;
  padding: .1em;
  text-transform: uppercase;
  justify-items: center;
}

.colon {
  top: -6px;
  position: relative;
}

li span {
  display: block;
  font-size: 5rem;
  font-weight: bold;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;

}

li div {
  padding: 2px;
  width: 100%;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "Monsteratt", sans-serif;
  text-align: center;
  background-color: white;
  color: black;
  border-radius: 3px;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 .5rem;
}

ul {
  margin: 0;
  margin-top: -25px;
  padding: 0;
}

@media (max-width: 520px) {

  li div {
    font-size: 30.25%;
  }
}

/* @media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }
  
  li {
    font-size: calc(1.125rem * var(--smaller));
  }
  
  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
} */